
body{
  font-family: 'Montserrat';
}

/*Title*/
#title{
  background-color: #f64b3c;
  color:#fff;
  padding: 5% 8% 3%;
}

/* Heading */
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold';
}

/* Big Heading */
.big-heading{
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1;
}


/* Name Heading */
.name-heading{
  font-family: 'Montserrat-Bold';
  padding-top: 10px;
}

/*Footer*/
footer {
	font-family: 'Montserrat-Bold';
    margin: 50px 0;
}

