
body{
  font-family: 'Montserrat';
}

/* Title */
#title-one{
  background-color: #f64b3c;
  color:#fff;
  text-align: left;
  padding: 5% 10% 2%;
}

#title-two{
  background-color: #f64b3c;
  color:#fff;
  padding: 5% 8% 4%;
}

/* Heading */
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold';
}

/* Big Heading */
.big-heading{
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1;
}

/* Name Heading */
.name-heading{
  font-family: 'Montserrat-Black';
  padding-top: 80px;
}

/*Image*/
.title-image{
  width: 80%;
}

/*Footer*/
footer {
	font-family: 'Montserrat-Bold';
    margin: 50px 0;
}
